npm-debug.log
logs
project/project
project/target
project/boot
target
dist
tmp
*DS_Store
.idea
.idea_modules
.classpath
.cache
.project
.target
.settings
.ensime*
.jvmopts
*~
.\#*
\#*
.history
node_modules
*TAGS
*.iml
.emacs*
.metadata/
/data
/.externalToolBuilders
/_history_client_mailbox/*

/public/**/*.css.gz
/public/**/*.js.gz
/public/**/*.json.gz
